.image_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 4rem;
  font-family: Roboto, sans-serif;
}

.image_one {
  height: 36rem;
}

.image_text {
  font-size: 0.8rem;
}
