.navbar {
  display: flex;
  font-family: Roboto, sans-serif;
  align-items: center;
  justify-content: center;
}

.nav_container_one {
  flex-basis: 40%;
}

.nav_container_two {
  display: flex;
  column-gap: 4rem;
  align-items: center;
  justify-content: center;
}

h2 {
  color: #426b1f;
}

a {
  text-decoration: none;
  color: #000000;
}
